<h1>Welcome {{model.name}}!</h1>

<div class="ui relaxed divided list">
  {{#each model.accounts as |account|}}
    <div class="item">
      <i class="large middle aligned icon">
        <strong>{{account.currency.symbol}}</strong>
      </i>
      <div class="content">
        {{#link-to "main.account" account class="header"}}
          {{account.name}}
        {{/link-to}}
        <div class="description">{{account.description}}</div>
      </div>
    </div>

  {{/each}}
</div>

{{#ember-wormhole to="fixedBottom"}}
  {{#link-to 'main.account.create' tagName='button'
    class="fluid ui button primary"}}
    Create a new account
  {{/link-to}}
{{/ember-wormhole}}
