{{ember-notify messageStyle='semantic-ui'}}
{{#liquid-if session.isAuthenticated class="navbar"}}
  {{partial 'navbar'}}
{{/liquid-if}}
<div class="container">
  {{#liquid-bind currentRouteName class="buttonContainer"}}
    <div id="fixedBottom"></div>
  {{/liquid-bind}}
  {{liquid-outlet}}
</div>
