<div class="ui secondary pointing menu">
  {{!-- <a class="item active">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a> --}}
  <span class="item">
    <p>Signed in as {{currentUser.user.email}}</p>
  </span>
  <div class="right menu">

    <button class="ui item icon" {{action 'invalidateSession' on='click'}}>
      <i class="sign out icon large"></i>
    </button>
  </div>
</div>
